* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* background image section */
.main-image {
  width: 100%;
  height: 300px;
}
.content {
  background-image: url("../images/bgImage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  filter: brightness(80%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading {
  color: white;
  font-size: 40px;
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-style: italic;
}
.sub-heading {
  color: white;
  font-size: 30px;
  font-family: "League Spartan", sans-serif;

  font-weight: 500;
  font-style: normal;
}

/* search button section */
.search-buttons {
  width: 100%;
  height: 200px;
  /* background-color: lightcyan; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.current-location {
  width: 40%;
  border: 1px solid #ccc;
  box-shadow: rgba(28, 28, 28, 0.08) 0px 2px 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.location-icon {
  color: rgb(245, 92, 92);
  margin-right: 8px;
}
.current {
  color: #757575;
}
.dropdown {
  width: 34%;
  padding: 10px;
  border-right: 1px solid #ccc;
}
.search-citybuttons {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
}
.city {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search-city {
  padding: 10px;
  width: 100%;
  border: none;
  background-color: transparent;
}
.search-icon {
  color: #757575;
}
.click-button {
  margin-left: 20px;
  width: 10%;
}
.search-btn {
  padding: 15px 20px;
  width: 100%;
  background-color: rgb(245, 92, 92);
  border: none;
}

/* restaurants lists section */
.restaurants {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95%;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 5%;
}
.restaurant-card {
  margin: 20px;
  position: relative;
  top: 0;
  border: none;
}
.restaurant-card:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  /* transition: vertical 2s; */
  /* transition: all 2s scale;
  animation: scale 1.5s both; */
  transition: top ease 0.5s;
  top: -10px;
}
/* card styling */
.card-img-top {
  width: 100%;
  height: 200px;
}
.name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.food-type {
  font-size: 14px;
}
.price {
  font-size: 14px;
}
.city {
  color: #8d8d8d;
  font-size: 14px;
}
.time {
  color: red;
  font-size: 14px;
}
.distance {
  font-size: 14px;
  font-weight: bold;
}
.rating {
  width: 50px;
  height: 30px;
  font-size: 14px;
  padding: 0 4px;
  background-color: #0d5020;
  text-align: center;
  border-radius: 8px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
